extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 #{proj.project_name}

    
        p.lead.text-light #{proj.description}
          | 

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies


        
        ul
          each technology in proj.technologies
           li #{technology}
          
        if proj.live_link
          a.button.expanded(href=`${proj.live_link}`, target="_blank") Live Demo
          a.button.expanded(href=`${proj.github_link}`, target="_blank") GitHub Repo
    
  
    img.image(src=`${proj.image_urls[0]}`)
    img.image(src=`${proj.image_urls[1]}`)
   
  
  